@font-face{
    font-family: "montserrat-medium";
    src: url('fonts/montserrat-medium.ttf');
}

@font-face{
    font-family: "montserrat-bold";
    src: url('fonts/montserrat-bold.ttf');
}

@font-face{
    font-family: "fraunces";
    src: url('fonts/fraunces.ttf');
}

body
{
    background-color: hsl(30, 38%, 92%);
    font-family: montserrat-medium, sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 15px;
}

main
{
    width: 650px;
    height: 487px;
    margin: auto;
    margin-top: 180px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

section
{
    width: 325px;
    height: 500px;
    background-color: white;
}

#imagedesktop
{
    width: 325px;
}

#imagemobile
{
    display: none;
}

#sectiontext
{
    padding: 30px;
}

#perfume
{
    margin-top: 2px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 14px;
}

h1
{
    color: hsl(212, 21%, 14%);
    font-family: fraunces, sans-serif;
    font-size: 2.6em;
    line-height: 100%;
    margin: 0 0 25px 0;
    width: 240px;
}

#description
{
    width: 94%;
    line-height: 150%;
}


#price
{
    display: inline-block;
    font-family: fraunces;
    font-size: 2.3em;
    color: hsl(158, 36%, 37%);
    margin-top: 10px;
    margin-bottom: 26px;
}

#reduc
{
    display: inline-block;
    margin-left: 18px;
    position: relative;
    bottom: 7px;
    text-decoration: line-through;

}

#add
{
    display: block;
    background-color:  hsl(158, 36%, 37%);
    color: white;
    text-align: center;
    padding: 17px;
    border-radius: 8px;
    font-family: montserrat-bold, serif;
    width: 87%;
}

#add:hover
{
    background-color: #114432;
}

#cart
{
    position: relative;
    right: 12px;
    top: 2px;
}

.attribution 
{ 
    font-size: 11px; 
    text-align: center;
    margin-top: 10px;
}

.attribution a 
{
    color: hsl(228, 45%, 44%);
}

.attribution a:hover
{
    color: hsl(158, 36%, 37%);
}

@media screen and (max-width: 650px)
{
    main
    {
        flex-direction: column;
        height: 100%;
        width: 90%;
        border-radius: 15px;
    }

    h1
    {
        width: 100%;
        font-size: 2.3em;
        margin: 0 0 18px 0;
    }

    section
    {
        margin: 0 2px 0 2px;
        width: auto;
        height: 100%;
    }

    #imagedesktop
    {
        display: none;
    }

    #imagemobile
    {
        display: block;
        width: 100%;
    }
}